services:
  db:
    image: pgvector/pgvector:pg16
    restart: always
    environment:
      POSTGRES_USER: usuario_db
      POSTGRES_PASSWORD: password_segura
      POSTGRES_DB: mi_proyecto_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  app:
    build: ./
    restart: always
    ports:
      - "8002:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./app:/app/app
  
  worker:
    build: ./
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/app/app
    command: ["celery", "-A", "app.jobs.job_scanear.celery", "worker", "--loglevel=info", "--concurrency=1"]

  dozzle:
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
    restart: always

volumes:
  postgres_data:
  redis_data: